h1{
    color: green;
}

ol{
    font-size: 200%;
}

ul{
    background-color: blue;
}

p{
    text-decoration: underline;
    font-size: larger;
    color: rgb(30, 100, 100);
}

#test{
    color: red;
}

.cst{
    background-color: blue;
}